* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: #303033
}

div {
background-color: teal;
padding: 10px;

border-color: tomato;
border-width: 5px;
border-style: solid;
}

div.box-title, div.box-body {
    width: 1200px;
}

div.box-content {
    float: left;
    width: 300px;
}

h1, h2 {
    background-color: grey;
    color: whitesmoke;

    border-color: crimson;
    border-style: solid;
    border-width: 2px;

    width: 300px;
    margin: 10px;

    text-align: center;
}   